extends template.pug 
  
block content
  div 
    div 
      div 
        img(src="#{dogPicture}", alt="dog photo")
        p #{price}
        img(src="#{gender}", alt="gender")
      div 
        div
          h2 #{name}
          p #{age}
        p #{dogBreed}
    button