extends template.pug 
  
block content
  div 
    - doggoList
    each doggo in doggoList
      div 
        div 
          img(src="#{doggo.imgSrc}", alt="dog photo")
          p #{doggo.price}
          img(src="#{doggo.gender}", alt="gender")
        div 
          div
            h2 #{doggo.name}
            p #{doggo.age}
          p #{doggo.breed}
      form(action="/matches", method="post") 
        button
          img(src="images/bone.png", alt="image of a bone" height="150px")
    else 
      h2 There are currently no doggos that match your preferences..