extends template.pug 
  
block content
  div(class="home")
    if doggo
      div 
        div 
          img(src=doggo.imgSrc, alt="dog photo" height="200px")
          p #{doggo.price}
          img(src=doggo.gender, alt="gender")
        div 
          div
            h2 #{doggo.name}
            p #{doggo.age}yr
          p #{doggo.breed}
      form(action="/matches/liked", method="post")
        input(type="hidden", name="userId", value=doggo.userId)
        button(type="submit") 
          img(src="images/bone.png", alt="image of a bone" height="100px")
      form(action="/matches/disliked", method="post")
        input(type="hidden", name="userId", value=doggo.userId)
        button(type="submit") weg ermee

    else 
      h2(class="emptyH2") There are currently no doggos that match your preferences..